/.ipynb_checkpoints
/DALI
/DBs
/HMMs
/PAM30.out
/antiSMASH
/antiSMASH_outputs.txt
/clp_cargo_hits.m8
/contigs
/dali.lock
/dalicon_input
/deepbgc
/disorder
/dp_input
/example_antismash_output
/filter_input
/final_filtered_mgyp_list.txt
/fort.101
/list0
/list1
/list2
/seqs/phylogenetic_tree_sequences.fasta
/seqs/all_search_contigs.fasta
/seqs/DALI_structure_clusters/
/seqs/unannotated.fasta
/seqs/unannotated.fasta_cluster.tsv
/seqs/unannotated.fasta_rep_seq.fasta
/seqs/all_putative_cargo_proteins.fasta
/seqs/filtered_cargo_proteins.fasta
/natural_encapsulin_hits.m8
/operon_df_filtered.csv
/response_regulator_domains.txt
/soaplist1
/structures/*.pdb
structures/pae
structures/representations/
structures/confident
structures/CAZY/*.pdb
/wolf_output
/wolflist1
/non_RiPP-like_antiSMASH_clusters/*
/foldseek/DBs/
/foldseek/tmp/
/seqs/phage_capsids/
metadata/cargo_seq_metadata_filtered.csv
metadata/mgy_seq_metadata_with_contigs_mgya_filtered_nonans.csv
metadata/phage_hits_df.csv
metadata/final_mgy_seq_metadata_table.csv
metadata/mgy_seq_metadata_with_contigs_filtered_nonans.csv
metadata/mgy_contigs_filtered.tsv
metadata/final_orphan_sequences.csv
metadata/orphan_sequences.csv
metadata/cargo_MGYPs.txt
metadata/all_MGYCs.txt
*.pkl
timings.json
relax_metrics.json
ranking_debug.json
unrelaxed_model_*.pdb
relaxed_model_*.pdb
TMalign
/tmp
tmp/latest