/.ipynb_checkpoints
/DALI
/DBs
/HMMs
/PAM30.out
/antiSMASH
/antiSMASH_outputs.txt
/clp_cargo_hits.m8
/contigs
/dali.lock
/dalicon_input
/deepbgc
/disorder
/dp_input
/example_antismash_output
/filter_input
/final_filtered_mgyp_list.txt
/fort.101
/list0
/list1
/list2
/seqs/phylogenetic_tree_sequences.fasta
/seqs/all_search_contigs.fasta
/seqs/DALI_structure_clusters/
/seqs/unannotated.fasta
/seqs/unannotated.fasta_cluster.tsv
/seqs/unannotated.fasta_rep_seq.fasta
/seqs/all_putative_cargo_proteins.fasta
/seqs/filtered_cargo_proteins.fasta
/metadata
/natural_encapsulin_hits.m8
/operon_df_filtered.csv
/response_regulator_domains.txt
/soaplist1
/structures
/wolf_output
/wolflist1
/non_RiPP-like_antiSMASH_clusters/*
/foldseek/DBs/
/foldseek/tmp/